* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
}
body {
  font-family: "Marvel", sans-serif;
  background: #ffeddc;
}
h2{
  color: #c9b5d8;
}
h3,
h4 {
  font-weight: 400;
  color: #f7b3b7;
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 10%;
}
@import "./player";
@import "./song";
@import "./library";
@import "./nav";
